<h2>Recherche </h2>
<%=@options.to_s%>
<%= render :partial => 'shared/search' %>
<%#= @model.size unless @model.nil?%>
<div id='result'></div>
<div class='span-15' ><%=link_to 'retour',root_path %></div>



