
    <tr>
      <td>
        <%=payment.invoice.invoice_ref %>
      </td>
      <td>
        <%=payment.sum_paid %>€
      </td>
      <td>
        <%=I18n.l(payment.created_at) %>
      </td>
      <td>
        <%=link_to 'Detruire', payments_destroy_path(payment.id) %>
      </td>
    </tr>
