<h1>Listing invoices</h1>
<p> Somme restante a payer: <%=project_remaining_to_pay(@project)   %>
<table>
  <tr>
    <th>Projet</th>
    <th>Référence facture</th>
    <th>Somme Total</th>
    <th>Echeance</th>
    <th>Somme restante</th>
    <th>Date de création</th>
    <th></th>
    <th></th>
  </tr>


  <%= render :partial => 'invoice_list' ,:collection=>@invoices ,:as=>:invoice %>

</table>

<br />

<%= link_to 'Nouvelle Facture', new_project_invoice_path(@project) unless  project_remaining_to_pay_equal_zero(@project) %>
<%= link_to 'Retour au projet', project_path(@project) %>