<div class='span-18' style="min-height:50px"><h2>Boîte de réception E-mail</h2></div>
<hr>

<%if !@emails.empty?%>
<table id="email_table" class="span-18">
  <tr>
    <thead>
    <th>De</th>
    <th>à</th>
    <th>Sujet</th>

    <th></th>
    <th></th>

    </thead>

  <tbody>
<%= render :partial => 'email_list',:collection => @emails ,:as=>:email %>
</tbody>
</table>
<% else %>
<p align="center"><b>Pas d'emails dans la boite de réception </b></p>
<%end%>