
<div class= "span-16 box">
<p><b>Description       : </b><%= contact.description %></p>
<div class="span-4">
  <p><b>Type de Contact   : </b><%= contact.genre %>
</div>
<div class="span-6">
<b>Donnée du Contact : </b><%= contact.contact_data %>
</div>
</div>
