<%= javascript_include_tag 'file_browser' %>
<%= stylesheet_link_tag 'list',  :media => 'screen' %>
<h2>Sélectionner Piece-jointe</h2>
<%= render :partial => '_p_j_breadcrumb' %>
<%= render :partial => 'piece_jointe_content' %>