<div class='span-18' style="min-height:50px"><h1>Liste des Fichiers</h1></div>


<%= link_to 'New upload', :action => 'upload' %>
<table id="gallery">
  <tr>

              <thead>
              <th></th>
              <th>Nom du Fichier</th>
              <th>Type de Fichier</th>
              <th>Taille du Fichier</th>
              <th>Propriétaire du Fichier</th>
              <th>SlideShow</th>
              <th></th>

              </thead>
  </tr>

  <%= render :partial => 'show_file' ,:collection => @uploaded_files ,:as=>:uploaded%>

</table>

<br />
