<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<title>DEVIS BOIS</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Helv;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:Helv;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:Dutch;
	panose-1:0 0 0 0 0 0 0 0 0 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h1
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:18.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Helv","sans-serif";}
h2
	{margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Helv","sans-serif";}
h3
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Helv","sans-serif";
	font-weight:normal;}
h4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:17.7pt;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
h5
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h6
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-style:italic;}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-style:italic;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-style:italic;}
p.MsoNormalIndent, li.MsoNormalIndent, div.MsoNormalIndent
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"En-tête Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
span.MsoFootnoteReference
	{position:relative;
	top:-3.0pt;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{margin:0cm;
	margin-bottom:.0001pt;
	background:navy;
	font-size:10.0pt;
	font-family:"Tahoma","sans-serif";}
p.retourenveloppe, li.retourenveloppe, div.retourenveloppe
	{mso-style-name:"retour enveloppe";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.adresseenveloppe, li.adresseenveloppe, div.adresseenveloppe
	{mso-style-name:"adresse enveloppe";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:144.0pt;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.En-tteCar
	{mso-style-name:"En-tête Car";
	mso-style-link:En-tête;}
 /* Page Definitions */
 @page WordSection1
	{size:21.0cm 842.0pt;
	margin:2.0cm 2.0cm 42.55pt 2.0cm;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=FR-BE>

<div class=WordSection1>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'><img width=655
height=89 src="Facture%20_fichiers/image001.jpg"></span></b></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<div>

<table cellspacing=0 cellpadding=0 hspace=0 vspace=0 width=439 height=37
 align=left>
 <tr>
  <td valign=top align=left height=37 style='padding-top:0cm;padding-right:
  7.05pt;padding-bottom:0cm;padding-left:7.05pt'>
  <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>           Monsieur
  et Madame </span></p>
  <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>           Rue </span></p>
  <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>           1000
  Bruxelles</span></p>
  <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;</span></p>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><span lang=FR style='font-size:9.0pt'> </span><span lang=FR
style='font-size:11.0pt'>Salle d’exposition et bureaux</span></p>

<p class=MsoNormal><span lang=FR style='font-size:11.0pt'> Ch de Jette, 
487-491 </span></p>

<p class=MsoNormal><span lang=FR style='font-size:11.0pt'> 1090   Bruxelles
Jette</span></p>

<p class=MsoNormal><span lang=FR style='font-size:11.0pt'> Tel&nbsp; :   
02/426.66.18</span></p>

<p class=MsoNormal><span lang=FR style='font-size:11.0pt'> Fax&nbsp;:    
02/426.42.66</span></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'> </span></b><span
lang=FR style='font-size:11.0pt'>Email&nbsp;:  info@onlywood.be</span></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<div>

<table cellspacing=0 cellpadding=0 hspace=0 vspace=0 width=646 height=32
 align=left>
 <tr>
  <td valign=top align=left height=32 style='padding-top:0cm;padding-right:
  7.05pt;padding-bottom:0cm;padding-left:7.05pt'>
  <div style='border:solid windowtext 1.0pt;padding:1.0pt 1.0pt 1.0pt 1.0pt'>
  <p class=MsoNormal style='border:none;padding:0cm'><span lang=FR>            </span><b><span
  lang=FR style='font-size:12.0pt'> FACTURE                                                
  </span></b><b><span lang=FR style='font-family:"Dutch","serif"'>                             </span></b><b><span
  lang=FR style='font-size:12.0pt;font-family:"Dutch","serif"'>  N° </span></b><span
  lang=FR style='font-size:12.0pt;font-family:"Dutch","serif"'>210000</span><b><span
  lang=FR style='font-family:"Dutch","serif"'>                                                                      </span></b></p>
  </div>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>         </span></b></p>

<p class=MsoNormal><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<div>

<table cellspacing=0 cellpadding=0 hspace=0 vspace=0 width=752 height=23
 align=left>
 <tr>
  <td valign=top align=left height=23 style='padding-top:0cm;padding-right:
  7.05pt;padding-bottom:0cm;padding-left:7.05pt'>
  <p class=MsoNormal style='margin-right:2.45pt'><span lang=FR
  style='font-size:9.0pt'> Tel.  CLIENT : <b> 02/000.00.00               </b>V.REF:                       
        T.V.A. :<b> N.A. </b>                                 JETTE, LE <b> </b></span><b><span lang=FR style='font-size:9.0pt'>14/06/11</span></b></p>
  <p class=MsoNormal style='margin-right:2.45pt'><span lang=FR
  style='font-size:9.0pt'> Fax. CLIENT : <b> </b></span></p>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoHeader><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal><span lang=FR>&nbsp;</span></p>

<div style='border:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;margin-left:
14.2pt;margin-right:0cm'>

<p class=MsoNormal style='border:none;padding:0cm'><span lang=FR>               
</span><span lang=FR style='font-size:12.0pt'>Suivant notre offre numéro : C0000P0ODP
du </span></p>

<p class=MsoNormal style='border:none;padding:0cm'><span lang=FR
style='font-size:12.0pt'>            Référence à rappeler lors de votre
paiement : FS 210000-DENI</span></p>

</div>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>Fourniture et pose de châssis en PVC blanc + doubles vitrages climaplus
N gaz U 1.1.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>Suivant notre offre:                                                                            000,00
€  T.V.A. comprise.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>                                                                                                                                                       </span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>Votre acompte FS 210000:                                                                -
00,00 €  T.V.A. comprise.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>                                                                                                          ------------------------------------</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>Solde:                                                                                                  000,00
€  T.V.A. comprise.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>                                                                                               
</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>&nbsp;</span></p>

<div style='border:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;margin-left:
14.2pt;margin-right:0cm'>

<p class=MsoNormal style='border:none;padding:0cm'><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal style='border:none;padding:0cm'><span lang=FR
style='font-size:12.0pt'>                                                                                        
Montant brut :                000,00 €</span></p>

<p class=MsoNormal style='border:none;padding:0cm'><span lang=FR
style='font-size:12.0pt'>            Taux de T.V.A. : 21%                                          Montant
T.V.A.:              00,00 €</span></p>

</div>

<p class=MsoNormal align=center style='text-align:center;text-indent:14.2pt'><span
lang=FR>&nbsp;</span></p>

<div style='border:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;background:
silver;margin-left:14.2pt;margin-right:0cm'>

<p class=MsoNormal style='background:silver;border:none;padding:0cm'><b><span
lang=FR>                </span></b></p>

<p class=MsoNormal style='background:silver;border:none;padding:0cm'><b><span
lang=FR>                </span></b><b><span lang=FR style='font-size:12.0pt'>Echéance
: au grand comptant                        Montant à payer :         000,00 €            
            </span></b></p>

</div>

<p class=MsoNormal style='margin-left:14.2pt;text-align:justify'><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:14.2pt;text-align:justify'><span lang=FR>Attestation
en application de l'article 63¹¹ de l'AR/CIR 92 concernant les travaux exécutés
visés à l'article 145/24 du code des impôts sur les revenus 1992.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>Par la présente
facture,attestation est donnée au maître de l'ouvrage que le coefficient K ( ou
U)</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>global de la
fenêtre ( châssis + vitrages ) calculé selon les formules simplifiées de la
norme en vigueur ( NBN B 62 ) est inférieur ou égal à 2,0 watt par mètre carré
kelvin. </span></p>

<p class=MsoNormal align=center style='margin-left:14.2pt;text-align:center'><span
lang=FR>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:14.2pt;text-align:justify'><span lang=FR>Tout
retard de paiement ou de tout ou partie d'une facture entraîne de plein droit
une majoration du montant de 20 % avec un minimum de 50 €, à titre de dommages
et intérêts, en application des articles 1152 et 1229 du code civil. Les
réclamations, pour être valables, doivent être faites par écrit dans les 8
jours.</span></p>

</div>

</body>

</html>
